@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  background-size: 100% 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-summary {
  font-family: "Red Hat Display";
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 440px;
  border-radius: 1rem;
  background-color: #f5f7ff;
}

.order-summary .image-hero {
  margin-bottom: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.order-summary .summary-title {
  text-align: center;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: x-large;
  margin: 0 3rem;
}

.order-summary .description {
  text-align: center;
  margin: 0.5rem 2rem;
}

.order-summary .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 4.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.75rem;
  padding: 0.8rem 0.45rem;
  background-color: rgba(224, 232, 255, 0.35);
}

.order-summary .summary a {
  padding-right: 0.4rem;
  color: #3829e0;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.order-summary .summary a:hover {
  color: #1f2f56;
}

.order-summary .summary .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-summary .summary .price-box img {
  border-radius: 25%;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.order-summary .summary .price-box .pricing strong {
  font-family: "Red Hat Display";
  font-weight: 700;
}

.order-summary .summary .price-box .pricing h5 {
  color: #868686;
}

.order-summary .proceed,
.order-summary .cancel {
  font-family: "Red Hat Display";
  font-weight: 700;
  color: #1f2f56;
  font-size: 1rem;
  margin: 0.5rem 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.order-summary .proceed:hover,
.order-summary .cancel:hover {
  color: #7280a7;
}

.order-summary .proceed {
  color: white;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #3829e0;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.order-summary .proceed:hover {
  color: #d8d8d8;
  background-color: #1f2f56;
}

.attribution {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: #3829e0;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.attribution a:hover {
  color: #1f2f56;
}
/*# sourceMappingURL=style.css.map */